.body {
  outline: none;  
}

.skip-link {
  position: fixed;
  top: 0;
  background: var(--primary);
  color: var(--white-99);
  padding: 0 5px;
  border-radius: 2px;
  height: 0;
  overflow: hidden;
}

.displayed {
  height: auto;
}