.button {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: var(--grey-15);
  transition: all .3s;
}

.primary {
  font-weight: 400;
  background-color: var(--primary);
  color: var(--white);
}

.primary:hover {
  background-color: var(--primary-hover);
}

.ghost {
  font-weight: 500;
  border: 1px solid var(--white-95);
  background-color: var(--white-99);
}

.ghost:hover {
  background-color: var(--white-95);
}

.arrow {
  display: inline-block;
  margin-left: 11px;
  transition: all .3s;
}

.primary .arrow {
  fill: var(--white);
}

.down {
  transform: rotate(90deg);
  transition: all .3s;
}