.button {
  border-radius: 10px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: var(--white-99);
  transition: background .3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button svg *{
  fill: var(--primary);
}

.button:hover {
  background-color: var(--white-95);
}