.wrapper {
  padding-top: 35px;
  display: grid;
  grid-template-columns: auto 230px minmax(320px, 1340px) auto;
  grid-auto-rows: auto 1fr auto;
  column-gap: 30px;
  min-height: 100vh;
  grid-template-areas: 
    ". header body ."
    ". sidebar body ."
    'footer footer footer footer';
}

.header {
  grid-area: header;
}

.body {
  grid-area: body;
}

.sidebar {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
}

@media (width < 992px) {
  .wrapper {
    grid-template-columns: auto minmax(250px, 1fr) auto;
    grid-template-areas: 
    ". header ."
    ". body ."
    'footer footer footer';
    column-gap: 10px;
    padding-top: 15px;
  }

  .header {
    margin-bottom: 10px;
  }

  .sidebar {
    display: none;
  }
}