.up {
  border-radius: 10px;
  width: 40px;
  height: 40px;
  border: none;
  background: var(--primary);
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background .3s;
}

.up:hover {
  background: var(--primary-hover);
}