.stars {
  display: inline-flex;
}

.star:not(:last-child) {
  padding-right: 5px;
}

.filled {
  fill: var(--primary);
}

.editable {
  cursor: pointer;
}

.error svg{
  stroke: var(--red);
  stroke-width: 1px;
}